<div class="container-fluid">
	<div class="row" id="contactPage">
		<div class="col-12">
			<h6>Contact</h6>
			<div class="row">
				<div class="col-12">
					<p>+46 72 180 27 28</p>
					<p>
						<a href="mailto:annakarolinaostberg@gmail.com" target="_top">annakarolinaostberg@gmail.com</a>
					</p>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-12">
					<p>
						<a href="https://www.pinterest.se/annaoannao/" target="_blank">Pinterest</a>
					</p>
					<p>
						<a href="https://www.linkedin.com/in/anna-%C3%B6stberg-65658195/" target="_blank">LinkedIn</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>